/**
 * Custom palette here.
 * ref：https://v1.vuepress.vuejs.org/config/#palette-styl
 */

// Primary color (button & link)
$accentColor = rgb(0, 156, 222);

// Secondary color (feature & navbar background)
$secondaryColor = #f6f6f6

// Text
$textColor = #3b3838
$titleColor = #425066
